#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

.zoomin{
  animation: zoom-in 0.5s forwards;
}
.zoomout{
  animation: zoom-out 0.5s backwards;
}

@keyframes zoom-in {
  from{
    font-size: 18px;
    padding: 16px 24px;
  }
  to{
    font-size: 20px;
    padding: 18px 26px;
  }
}


@keyframes zoom-out {
  from{
    font-size: 20px;
    padding: 18px 26px;
  }
  to{
    font-size: 18px;
    padding: 16px 24px;
  }
}